* {
  margin: 0;
  padding: 0;

}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 20%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: black;
}

h1 {
  margin: 10px;
  color: whitesmoke;
}

p {
  margin: 10px;
  font-weight: bold;
  color: whitesmoke;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input {
  background-color: rebeccapurple;
  color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 9px 1px black;
  border-style: none;
}

input:active {
  background-color: rgb(126, 73, 179);
}